// font family
$font-inter: "Inter", sans-serif;

// colors
$col-lightBlack: #00000033;
$col-black: #000000;
$col-fadedBlack: #00000099;
$col-white: #ffffff;
$col-grey: #0000001a;
$col-lightGrey: #0000000d;
$col-darkGrey: #1C1C1C;
$col-bluePurple: #3F00F2;
$col-grayishBlue: #F7F9FB;
